body { 
    padding-top: 65px; 
}

h1 {   
  padding: 20px;
}
h2 {   
  padding: 30px;
}
h3 {   
  padding: 30px;
  padding-top: 50px;
}
/* al posto di position-fixed è stata
   inserita la seguente classe:
*/
.my-toast-flexbox-container {
	position: relative; 
	/* min-height: 200px; */
	margin-top: 80px;
	/* background-color: #fefbd8; */
}

.toast-container {
  position: absolute;
}

/*
#toast-container {
  pointer-events: none;
  > div {
    pointer-events: auto;
  }
}
*/